@model UrlShortener.MVC.Models.Identities.RegisterConfirmationVM
@{
    ViewData["Title"] = "RegisterConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>RegisterConfirmation</h1>

@if (Model != null)
{
    <form asp-action="RegisterConfirmation" method="post">
        <input asp-for="ReturnUrl" type="hidden" />
        <input asp-for="Email" type="hidden" />
        <input asp-for="UserId" type="hidden" />
        <input asp-for="Code" type="hidden" />

        <h2>Confirm your account.</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

        <p>
            This app does not currently have a real email sender registered for how to configure a real email sender.
            Normally this would be emailed to: @Model.Email
        </p>

        <div>Click Confirm to confirm your account</div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Confirm</button>
    </form>
}

