@model UrlShortener.MVC.Models.UrlVM

@{
    ViewData["Title"] = "Create";
}


<h4>Shorten Url</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OriginalUrl" class="control-label"></label>
                <input asp-for="OriginalUrl" class="form-control" />
                <span asp-validation-for="OriginalUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortCode" class="control-label"></label>
                <input asp-for="ShortCode" class="form-control" />
                <span asp-validation-for="ShortCode" class="text-danger"></span> 
            </div>
         @* <div class="form-group">
                <label asp-for="ClickCount" class="control-label"></label>
                <input asp-for="ClickCount" class="form-control" />
                <span asp-validation-for="ClickCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Shorten" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mb-3">
    <h4>Url List</h4>
    <div id="divUrlList">
        @await Component.InvokeAsync("UrlList")
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function openModalDeleteUrl(idUrl) {
        $.ajax({
            url: "/Urls/Delete",
            type: "GET",
            data:{
                id: idUrl,
            },
            beforeSend: function(){
                console.log("Loading...");
            },
            success: function (response){
                console.log("Kết quả:", response);
                openModal("", response);
            },
            error: function(xhr, status, error) {
                console.error("Lỗi:", error);
                console.log("Chi tiết:", xhr.responseText);
            },
            complete: function() {
                console.log("Hoàn tất AJAX request");
            },
            timeout: 5000 
            
        });
    }

    function deleteUrl(idUrl) {
        let inputToken = document.querySelector('input[name="__RequestVerificationToken"]');
        let token = inputToken?.value;
        $.ajax({
            url: "/Urls/Delete",
            type: "POST",
            data:{
                id: idUrl,
                __RequestVerificationToken: token
            },
            beforeSend: function(){
                console.log("Deleting...");
            },
            success: function (response){
                console.log("Kết quả:", response);
                if(response.isOK) {
                    reloadUrlList();
                    closeModal();
                }
            },
            error: function(xhr, status, error) {
                console.error("Lỗi:", error);
                console.log("Chi tiết:", xhr.responseText);
            },
            complete: function() {
                console.log("Hoàn tất AJAX request");
            },
            timeout: 5000 
            
        });
    }

    function reloadUrlList() {
        $.ajax({
            url: "/Urls/Reload",
            type: "GET",
            beforeSend: function(){
                console.log("Reloading Url List...");
            },
            success: function (response){
                console.log("Kết quả:", response);
                let divUrlList = document.getElementById("divUrlList");
                if(divUrlList) {
                    divUrlList.innerHTML = response;
                }
            },
            error: function(xhr, status, error) {
                console.error("Lỗi:", error);
                console.log("Chi tiết:", xhr.responseText);
            },
            complete: function() {
                console.log("Hoàn tất AJAX request");
            },
            timeout: 5000 
            
        });
    }



</script>
