name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v3

      # Setup .NET SDK
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      # Restore dependencies
      - name: Restore dependencies
        run: dotnet restore ./UrlShortener.sln

      # Build project
      - name: Build
        run: dotnet build --configuration Release --no-restore ./UrlShortener.sln

      # Run tests
      - name: Test
        run: dotnet test --no-build --verbosity normal ./UrlShortener.sln

      # Build Docker image
      - name: Build Docker Image
        run: |
          docker build -t hoanganhdinh/urlshortenermvc:latest -f UrlShortener.MVC/Dockerfile .

      # Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: hoanganhdinh
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Push Docker image to Docker Hub
      - name: Push Docker Image
        run: docker push hoanganhdinh/urlshortenermvc:latest
