name: build-and-deploy
on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Build .NET
      run: dotnet build UrlShortener.MVC/UrlShortener.MVC.csproj -c Release

    - name: Test .NET
      run: dotnet test --no-build

    - uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: Dockerfile            # vì giờ Dockerfile nằm ở root
        push: true
        tags: ${{ secrets.DOCKER_HUB_USERNAME }}/urlshortener:latest


    - name: Trigger Render Deployment
      run: curl -X POST "${{ secrets.RENDER_DEPLOY_HOOK_URL }}"
